.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    
}

@media only screen and (max-width: 720px) {
    .content {
        padding: 0.5rem;
    }
  }

@media only screen and (min-width: 720px) and (max-width: 1440px) {
    .content {
        padding: 1rem 2rem;
    }
  }

@media only screen and (min-width: 1440px) {
    .content {
        padding: 2rem 4rem;
    }
  }